<div class="container-fluid" style="background-image:url('assets/back.webp')">
    <div class="container mt-4">
      <!-- Display the button at the top -->
      <button class="btn btn-light mb-3" (click)="createRatingReview()" style="margin-top: 20px; color:black">Create Rating Review</button>
  
      <!-- Display the table with rating reviews -->
      <div class="user-list-container">
        <h2 class="text-center" style="margin-top: -30px; color: white">Rating Reviews Details</h2>
        <table class="table table-bordered table-striped table-hover" style="margin-top: 20px;">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Stars</th>
              <th scope="col">Comment</th>
              <th scope="col">Date</th>
              <th scope="col">Text</th>
              <th scope="col">Rating Stars</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ratingReview of ratingReviews" class="table-info">
              <td>{{ ratingReview.stars }}</td>
              <td>{{ ratingReview.comment }}</td>
              <td>{{ ratingReview.date }}</td>
              <td>{{ ratingReview.text }}</td>
              <td>{{ ratingReview.ratingStars }}</td>
              <td>
                <button class="btn btn-warning" (click)="editRatingReview(ratingReview)">Edit</button>&nbsp;
                <button class="btn btn-danger" (click)="deleteRatingReview(ratingReview.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <!-- Bootstrap Modal for Rating Review Form -->
      <div class="modal" id="ratingReviewModal" tabindex="-1" role="dialog" style="margin-top: 30px;">
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="background-color: lightblue">
            <div class="modal-header bg-info text-center">
              <h5 class="modal-title">{{ isNewRatingReview ? 'Create Rating Review' : 'Edit Rating Review' }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelEdit()"
                style="background-color: rgb(192, 190, 190);">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group" style="margin-top: 10px;">
                  <label for="stars"><b>Stars:</b></label>
                  <input type="number" class="form-control" [(ngModel)]="selectedRatingReview.stars" name="stars" />
                </div>
  
                <div class="form-group" style="margin-top: 10px;">
                  <label for="comment"><b>Comment:</b></label>
                  <input type="text" class="form-control" [(ngModel)]="selectedRatingReview.comment" name="comment" />
                </div>
  
                <div class="form-group" style="margin-top: 10px;">
                  <label for="date"><b>Date:</b></label>
                  <input type="text" class="form-control" [(ngModel)]="selectedRatingReview.date" name="date" />
                </div>
  
                <div class="form-group" style="margin-top: 10px;">
                  <label for="text"><b>Text:</b></label>
                  <input type="text" class="form-control" [(ngModel)]="selectedRatingReview.text" name="text" />
                </div>
  
                <div class="form-group" style="margin-top: 10px;">
                  <label for="ratingStars"><b>Rating Stars:</b></label>
                  <input type="number" class="form-control" [(ngModel)]="selectedRatingReview.ratingStars"
                    name="ratingStars" />
                </div>
                <br>
                <button class="btn btn-success" (click)="saveRatingReview()">Save</button>&nbsp;
                <button class="btn btn-danger" (click)="cancelEdit()">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  