<!-- app.component.html -->

<header class="bg-cloud-dark text-white">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <img src="assets/logo.jpg" style="width: 45px;height:45px;border-radius:45px;margin-top:-6px">
    <h3 class="app-title">Connect Market Cloud</h3>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" style="font-size: 15px;">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/user">User</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/vendor">Vendor</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/services">Services</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/orders">Orders</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/cart">Cart</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/role">Role</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/rating-review">Review</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/auth">Login</a></li>

        </ul>
      </div>
    </nav>
  </div>
</header>


<main class="mt-5">
  <router-outlet></router-outlet>
</main>

<footer class="text-white">
  <div class="container text-center">
    <p>&copy; 2023 Cloud Vendor System. All rights reserved.</p>
  </div>
</footer>
