<div class="container-fluid" style="background-image:url('assets/back.webp')">
    <div class="container mt-4">
      <!-- Display the button at the top -->
      <button class="btn btn-light mb-3" (click)="createService()" style="margin-top: 20px; color:black">Create Service</button>
  
      <!-- Display the table with services -->
      <div class="user-list-container">
        <h2 class="text-center" style="margin-top: -30px; color: white">Services Details</h2>
        <table class="table table-bordered table-striped table-hover" style="margin-top: 20px;">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Service Name</th>
              <th scope="col">Description</th>
              <th scope="col">Price</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let service of services" class="table-info">
              <td>{{ service.name }}</td>
              <td>{{ service.description }}</td>
              <td>{{ service.price }}</td>
              <td>
                <button class="btn btn-warning" (click)="editService(service)">Edit</button>&nbsp;
                <button class="btn btn-danger" (click)="deleteService(service.serviceID)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <!-- Bootstrap Modal for Service Form -->
      <div class="modal" id="serviceModal" tabindex="-1" role="dialog" style="margin-top: 30px;">
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="background-color:lightblue">
            <div class="modal-header bg-info text-center">
              <h5 class="modal-title">{{ isNewService ? 'Create Service' : 'Edit Service' }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelEdit()" style="background-color: rgb(192, 190, 190);">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group" style="margin-top: 10px;">
                  <label for="name"><b>Service Name:</b></label>
                  <input type="text" class="form-control" [(ngModel)]="selectedService.name" name="name" />
                </div>
  
                <div class="form-group" style="margin-top: 10px;">
                  <label for="description"><b>Description:</b></label>
                  <input type="text" class="form-control" [(ngModel)]="selectedService.description" name="description" />
                </div>
  
                <div class="form-group" style="margin-top: 10px;">
                  <label for="price"><b>Price:</b></label>
                  <input type="number" class="form-control" [(ngModel)]="selectedService.price" name="price" />
                </div>
                <br>
                <button class="btn btn-success" (click)="saveService()">Save</button>&nbsp;
                <button class="btn btn-danger" (click)="cancelEdit()">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  