<!-- app.component.html -->

<div class="container-fluid cloud-bg" style="background-image:url('assets/back.webp')">
  <div class="container mt-3 text-center" style="margin-top: -30px;">

    <div class="jumbotron cloud-jumbotron" >
      <br>
      <br>
      <h1 class="display-4">Empower Your Business in the Cloud</h1>
      <br>
      <p class="lead">Experience seamless vendor management in the cloud. Connect with your vendors effortlessly.</p>
      <hr class="my-4">
      <p style="margin-left:50px">Explore the power of cloud technology to streamline your vendor interactions.</p>
      <br>
      <br>
      <a class="btn btn-light btn-lg" routerLink="/auth" role="button" style="color: blue;" >Get Started</a>
    </div>

    <br>
    
    <!-- Additional Features Section -->
    <div class="features-section mt-5">
      <h3 class="cloud-text text-white">Our Features</h3>
      <div class="row mt-5 text-center">
        <div class="col-md-4">
          <div class="card cloud-card bg-info text-center">
            <img src="assets/cloudicon.jpg" class="card-img-top rounded-circle logo-img" alt="Cloud Icon" style="width: 100px;height:100px;margin-top:30px;margin-left:130px;border:6px solid #000036">
            <div class="card-body">
              <h5 class="card-title text-black">Cloud Integration</h5>
              <p class="card-text text-white">Integrate seamlessly with cloud services for efficient vendor management.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card cloud-card bg-info">
            <img src="assets/vendor.jfif" class="card-img-top rounded-circle logo-img" alt="Vendor Icon" style="width: 100px;height:100px;margin-top:30px;margin-left:130px;border:6px solid #000036">
            <div class="card-body">
              <h5 class="card-title text-black">Vendor Collaboration</h5>
              <p class="card-text text-white">Collaborate with vendors in real-time, enhancing communication and productivity.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card cloud-card bg-info">
            <img src="assets/security.jfif" class="card-img-top rounded-circle logo-img" alt="Cloud Security" style="width: 100px;height:100px;margin-top:30px;margin-left:130px;border:6px solid #000036">
            <div class="card-body">
              <h5 class="card-title text-black">Security First</h5>
              <p class="card-text text-white">Prioritize security with our robust cloud infrastructure, ensuring data protection.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
  </div>
</div>

<br>
<br>
<br>
